body {
  background-image: url("https://cdn1.teach.com/content/41ae60bfc2a94ef98eb7f539e7e0c382/high-school.jpg");
  background-repeat: no-repeat;
background-position: center;
height: 500px;
background-attachment: fixed;
background-size: cover;
margin-bottom: 0;
}

h1 {
  font-family: "Leckerli One", cursive;
  font-size: 300%;
  text-align: left;
  color: White;
  margin-left: 10%;
}
input {
  width: 80%;
  height: 40px;
  font-size: 100%;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 0 5px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10%;
}
 button {
	cursor: pointer;
  width: 40%;
  height: 40px;
	border: none;
  background-color: grey;
  color: #fff;
  border-radius: 10px;
	margin: 0 0 5px;
	padding: 10px;
  font-size: 15px;
  margin-left: 30%;
  

}
h3{
  font-family:"Leckerli One", cursive ;
  font-size: 159%;
  color: rgb(66, 67, 68);
  
  margin-left: 30%;

}
#contentDiv{
  font-family:"Leckerli One", cursive ;
  font-size: 20px;
  color:black;
  margin-left: 35%;
  border-block: 
}
